body {
    background-color: #474b4f;
    background-size: cover;
    position: relative;
    font-family: 'Courier New', Courier, monospace;}
 #Bgdiv1{ 
    background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0,0,0,0.7)) ,url(./xu-huong-su-dung-hinh-anh-thiet-ke-webiste.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
}  



.Hr{
    background-color: purple;
}
#nav{
    background-color: #86c232;
    width: 100%;
    height: 80px;
    text-align: center;
}
.textnav{
    font-size: 30px;
    color: #222;
    padding: 20px 60px;
    display: inline-block;
}

#anhcoder{
    background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0,0,0,0.7)).url(./anhcoder.jpg);
    height: 100px;
}
#header{
    background:#222629;
    color: white;
}
#img1{
    
    width: 200px;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 5px solid rgb(97, 99, 92);
} 
#name{
    font-weight: bold;
    letter-spacing: 0.5em;
    margin-top: 20px;
    margin-left: 40px;
}
#underline{
    width: 333px;
    height: 7px;
    background: white;
    margin-top: 20px;
    margin-left: 40px;
}
#web{
    letter-spacing: 0.5em;
    margin-top: 50px;
    margin-left: 40px;
}
#contacts{
    padding: 10px;
    font-weight: bold;
    background:linear-gradient(rgba(0, 0, 0,0.7),rgba(235, 227, 227, 0.7));
}
#contact1{
    margin: 20px;
}
#skill{
    padding: 10px;
    font-weight: bold;
    background:linear-gradient(rgba(0, 0, 0,0.7),rgba(235, 227, 227, 0.7));
}
#skill1{
    margin: 10px;
}
#exp{
    margin-bottom: 50px;
    margin-top: 80px;
    width: 1200px;
    padding: 10px;
    font-weight: bold;
    background:linear-gradient(rgba(0, 0, 0,0.7),rgba(235, 227, 227, 0.7));
    color: #61892f;
}
#exp1{
    margin-right: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr ;
}
#tex{
    margin-left: 100px;
    margin-top: 10px;
}
#texx{
    color: #61892f;
    font-weight: bold;
}
#img5{
    background: linear-gradient(rgba(0, 0, 0,0.7),rgba(235, 227, 227, 0.7));
}
#year{
    margin-left: 90px;
}
#exp4{
    padding-left: 90px;    
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#sec-1{
    background-color: blanchedalmond;
    position: relative;
}
#sec-2{
    background-color: coral;
}
.scroll-down{
    height: 30px;
    width: 30px;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    bottom: 20px;
}
#hhhh{
    margin-top: 80px;
}
/* #a1{
    min-height: 100vh;
}
#a2{
    min-height: 100vh;
    display: flex;
    justify-content: center;
} */
#imgcoder{
    width: 100%;
    height: 100vh;

}
#imgMe{
    height: 100vh;
    padding-left: 100px;
}
#aboutMe{
   display: grid;
   grid-template-columns: 10cm 20cm;
}
#TitleAboutme {
   padding-top: 80px;
   padding-left: 20px;
   font-weight: bold;
   color: #61892f;
}
#contentAboutme{
    padding-left: 20px;
    
   
    color: #fff;
}
.list-item{
    margin-top: 20px;
}
#TitleAboutme1{
    font-weight: bold;
    padding-left: 20px;
    color: #61892f;
}

.content{
    background-color: #222629; 
}
.texEXP{
    color: #61892f;
}
.texEXP2{
    color: #fff;
}